{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB - The Ultimate Movie Genres List </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/movie_style.css' %}">
</head>

<body>
    <!-- Navbar 1 -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" id="navbar1">
        <div class="container-fluid">

            <ul class="navbar-nav me">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_lst' %}">All Movies</a>
                </li>
            </ul>

            <!-- Search bar -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <form class="d-flex search-icon-position" action="{% url 'search' %}" method="GET">
                    <div class="input-container">
                        <input type="text" class="form-control search-bar" name="query" placeholder="Search movies or genres" style="width: 300px; padding-left: 50px;">
                        <button class="btn btn-outline-light search-button" type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
                    </div>
                </form>
            </div>

            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link login">Welcome, {{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}">Log Off</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Navbar 2 -->
    <nav class="navbar navbar-expand-lg" id="navbar2">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end" id="navbar2SupportedContent">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar2SupportedContent">
                    <ul class="navbar-nav mx-auto">
                        {% for genre in genres %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'genre_detail' genre.id %}">{{genre.genre_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navbar = document.getElementById('navbar1');
            if (navbar) {
                const changeNavbarOnScroll = () => {
                    if (window.scrollY > 0) {
                        navbar.classList.remove('navbar-transparent'); // Remove transparent and blur effect
                        navbar.classList.add('navbar-colored'); // Add black background color
                    } else {
                        navbar.classList.remove('navbar-colored'); // Remove black background color
                        navbar.classList.add('navbar-transparent'); // Add transparent and blur effect
                    }
                };

                // Initial check
                changeNavbarOnScroll();

                // Add scroll event listener
                window.addEventListener('scroll', changeNavbarOnScroll);
            }
        });
    </script>

    

    {% block content %}

    {% endblock %}

</body>

</html>