{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB - The Ultimate Movie Genres List </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/movie_style.css' %}">
</head>

<body>
    <!-- Navbar 1 -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" id="navbar1">
        <div class="container-fluid">

            <ul class="navbar-nav me">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_lst' %}">All Movies</a>
                </li>
            </ul>

            <!-- Search bar -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <form class="d-flex" action="{% url 'search' %}" method="GET">
                    <input type="text" class="form-control me-2 dark-theme" name="query"
                        placeholder="Search movies or genres" style="width: 400px;">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
            <!-- Search bar -->


            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link login">Welcome, {{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}">Log Off</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Navbar 1 -->

    <!-- Navbar 2 -->
    <nav class="navbar navbar-expand-lg" id="navbar2">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end" id="navbar2SupportedContent">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar2SupportedContent">
                    <ul class="navbar-nav mx-auto">
                        {% for genre in genres %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'genre_detail' genre.id %}">{{genre.genre_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar 2 -->

    {% block content %}

    {% endblock %}

</body>

</html>