{% extends 'MovieApp/base.html' %}

{% block content %}
<div class="container">
    <div class="movie-list">
        <div class="row row-cols-6 g-4">
            {% for movie in page_obj %}
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="card movie-border">
                    <a href="{% url 'movie_detail' movie.id %}" class="movie-link">
                        <img src="{{movie.image.url}}" class="movie-image">
                        <div class="card-body">
                            <h6 class="card-title movie-title">
                                {{movie.title}}
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number}}</a>
            </li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}